name: Build & Test

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build library
        working-directory: lib
        run: go build ./...

      - name: Run tests in library
        working-directory: lib
        run: go test -v ./...
